<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">none</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/timeOffSystem?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.charset_name">UTF-8</property>
        <property name="initialPoolSize">5</property>
        <property name="maxPoolSize">50</property>
        <property name="minPoolSize">5</property>
        <property name="maxIdleTime">3000</property>
        <property name="connection.pool_size">500</property>
        <property name="javax.persistence.schema-generation.scripts.create-target">import.sql</property>
        <mapping class="com.dotin.timeOffRequest.entity.Attachment"/>
        <mapping class="com.dotin.timeOffRequest.entity.Category"/>
        <mapping class="com.dotin.timeOffRequest.entity.CategoryElement"/>
        <mapping class="com.dotin.timeOffRequest.entity.Email"/>
        <mapping class="com.dotin.timeOffRequest.entity.Employee"/>
        <mapping class="com.dotin.timeOffRequest.entity.TimeOffRequest"/>
    </session-factory>

</hibernate-configuration>
